/* Mobil */
@media screen and (max-width:640px){
    ::-webkit-scrollbar{
        display: none;
    }
    body{
        margin: 0px;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        user-select: none;
    }
    header{
        text-align: center;
        display: flex;
        flex-direction: row;
        background-color: rgb(9, 223, 253);
        width: 100vw;
        height: 5vh;

    }
    nav{
        width: 69vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 2vw;
        column-gap: 3vw;
    }
    nav button{
        align-items:center ;
        width: 15vw;
        text-align: center;
        border: 0px solid transparent;
        border-radius: 1vh;
        height: 3vh;
        background-color: rgb(0, 177, 177);
        font-size: 2vh;
        box-shadow: inset 2px 6px 10px rgba(255, 255, 255, 0.250), 
        inset -2px -6px 10px rgba(0, 0, 0, 0.250), 0px 4px 3px rgba(0, 0, 0,0.5 );
    }
    main{
        align-items: center;

        display: flex;
        flex-direction: column;
        overflow: scroll;
        
        height: 82vh;
        background-color: aquamarine;
    }
    .valknappar{
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;

    }
    .valknappar>button{
        margin-top: 1vh;
        width: 20vw;
        height: 4vh;
    }
    .valknappar>div{
        width: 4vh;
        height: 2vh;
        border: 1px solid black;
        background-color: white;
        border-radius: 2px;
        margin-top: 1vh;
        text-align: center;
    }
    main>article{
        
        width: 90vw;
        margin-top: 5vh;
        font-size: small;
        display: flex;
        flex-direction: row;
        border: 1px solid black;
        border-radius: 5vh;
        background-color: rgb(255, 255, 255);
    }
    main img{
        border:0px solid transparent;
        border-radius: 5vh;
        width: 60vw;
        height: 27.5vh;
    }
    #facebook{
        margin-top: 0.5vh;
        width: 4vh;
        height: 4vh;
        border: 0px,solid, transparent;
        border-radius: 50%;
        
    }
    #instagram{
        margin-top: 0.5vh;
        width: 4vh;
        height: 4vh;
        border: 0px,solid, transparent;
        border-radius: 50%;
    }
    #twitter{
        margin-top: 0.5vh;
        width: 4vh;
        height: 4vh;
        border: 0px,solid, transparent;
        border-radius: 50%;
        
    }
    footer{
        display: block;
        align-items: center;

    }
    footer>div{
        display: flex;
        flex-direction: row;
        column-gap: 5vh;
        margin-left: 12vh;
    }
    
    #dropdownkassa{
        display:none;
        position: fixed;
        top: 50.5vh;
        right: 3.6vw;
        background-color: rgb(0, 255, 255);
        border: 0px solid transparent;
        width: 50vw;
        border-radius: 10px;
        box-shadow: inset 3px 3px 5px rgba(255, 255, 255, 0.573),
        3px 3px 5px rgba(0, 0, 0, 0.573) ;
    }
    #dropdownkassa>*{
        text-align: left;
        margin-left: 1vw;
    }
    .copyright{
        margin-left: 0px;
        align-items: center;
        text-align: center;
    }
    #dropdownkassa>button{
        margin-bottom: 2vh;
        margin-left: 15vw;
    }
}
/* Tablet */
@media screen and (max-width:1007px) and (min-width:641px){

    ::-webkit-scrollbar{
        display: none;
    }
    
    body{
        user-select: none;
        margin:0px;
        width: 100vw;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    nav{
        margin-left: 2vw;
        width: 69vw;
        display: flex;
        flex-direction: row;
        column-gap: 4vw;
        align-items: center;
        
    }
    nav button{
        border: 0px solid transparent;
        border-radius: 50ch;
        width: 19.063vw;
        height: 7.6861vh;
        background-color: rgb(0, 177, 177);
        box-shadow: inset 2px 6px 10px rgba(255, 255, 255, 0.250), inset -2px -6px 10px rgba(0, 0, 0, 0.250), 0px 4px 3px rgba(0, 0, 0,0.5 );
        font-size: x-large;
    }
    #pressedbutton{
        box-shadow: inset 1px 3px 10px rgba(255, 255, 255, 0.250), inset -1px -3px 10px rgba(0, 0, 0, 0.250);
    }
    header{
        display: flex;
        flex-direction: row;
        background-color: rgb(9, 223, 253);
        height: 13.426vh;
        width: 100vw;
    }
    #titleimg{
        width: 31vw;
        height: 13.4vh;
    }
    main{
        overflow-y: scroll;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 5vh;
        width: 98vw;
        height: 68.88vh;
        margin-left: 2vh;
        margin-right: 2vh;
        
    }
    main::-webkit-scrollbar{
        display: none;
    }
    article{
        border: 0px solid transparent;
        border-radius: 30px;
        background-color: grey;
        width: 45vw;
        height: 36vh;
        text-align: center;
        margin-top: 2vh;
    }
    
    article h3{
        font-size: small;
        margin-top: auto;
        margin-right: 2vw;
    }
    main img{
        border: 0px solid transparent;
        border-radius: 20px; 
        object-fit: cover;
        background-color: white;
        margin-top: 5px;
        width: 25vw;
        height: 26vh;
    }
    .valknappar{
        text-align: center;
        display: flex;
        flex-direction: row;
        gap: 1vw;
        height: 5vh;
        margin-top: 0.5Svh;
        border: 2px solid white;
        background-color: white;
        font-family: Arial;
        font-size: 0.8rem;
        
    }
    .valknappar div{

        margin: 1.1vh;

    }
    .valknappar h3{
        margin-top: 1vh;
    }
    #h3a{
        margin-top: -0.4vh;
    }
    .valknappar button{
        height: 5vh;
        width: 5vh;
    }

    #legtillegg{
        width: 10vw;
        margin-left: 3vw;
    }
    #legtillappelsin{
        width: 12vw;
        margin-left: 2.6vw;
    }
    #legtillmajs{
        width: 10vw;
        margin-left: 3vw;
    }
    #legtillfläsk{
        width: 10vw;
        margin-left: 3vw;
    }
    #legtillsalad{
        width: 10vw;
        margin-left: 3vw;
    }
    #legtillbakmargarin{
        width: 10vw;
        margin-left: 3vw;
    }
    #facebook{
        margin-top: 0.5vh;
        width: 8vh;
        height: 8vh;
        border: 0px,solid, transparent;
        border-radius: 50%;
        margin-right: 5vw;
    }
    #instagram{
        margin-top: 0.5vh;
        width: 8vh;
        height: 8vh;
        border: 0px,solid, transparent;
        border-radius: 50%;
    }
    #twitter{
        margin-top: 0.5vh;
        width: 8vh;
        height: 8vh;
        border: 0px,solid, transparent;
        border-radius: 50%;
        margin-left: 5vw;
    }
    footer{
        
        text-align: center;
        background-color: rgb(197, 252, 255);
        width: 100vw;
        height: 14.1vh;
        
    }
    .copyright{
        border: 0px solid transparent;
        background-color: aqua;
        width: 100vw;
        height: 4vh;
        text-align: center;
    }
    h5{
        font-size: 1rem;
    }
    #dropdownkassa{
        font-family: Arial;
        font-size: 0.95rem;
        display: none;
        position: fixed;
        top: 10.5vh;
        right: 1.6vw;
        background-color: rgb(0, 255, 255);
        border: 0px solid transparent;
        width: 20vw;
        border-radius: 10px;
        box-shadow: inset 3px 3px 5px rgba(255, 255, 255, 0.573),3px 3px 5px rgba(0, 0, 0, 0.573) ;
    }
    #dropdownkassa>*{
        text-align: left;
        margin-left: 1vw;
    }
    #dropdownkassa>button{
        margin-bottom: 2vh;
        margin-left: 3.4vw;
    }
    


}

/* Dator */
@media screen and (min-width:1008px){
    ::-webkit-scrollbar{
        display: none;
    }
    
    body{
        user-select: none;
        margin:0px;
        width: 100vw;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    nav{
        margin-left: 2vw;
        width: 69vw;
        display: flex;
        flex-direction: row;
        column-gap: 4vw;
        align-items: center;
        
    }
    nav button{
        border: 0px solid transparent;
        border-radius: 50ch;
        width: 19.063vw;
        height: 7.6861vh;
        background-color: rgb(0, 177, 177);
        box-shadow: inset 2px 6px 10px rgba(255, 255, 255, 0.250), inset -2px -6px 10px rgba(0, 0, 0, 0.250), 0px 4px 3px rgba(0, 0, 0,0.5 );
        font-size: x-large;
    }
    #pressedbutton{
        box-shadow: inset 1px 3px 10px rgba(255, 255, 255, 0.250), inset -1px -3px 10px rgba(0, 0, 0, 0.250);
    }
    header{
        display: flex;
        flex-direction: row;
        background-color: rgb(9, 223, 253);
        height: 13.426vh;
        width: 100vw;
    }
    #titleimg{
        width: 31vw;
        height: 13.4vh;
    }
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5vh;
        margin: 2vh;
        width: 98vw;
        height: 68.88vh;
    }
    article{
        border: 0px solid transparent;
        border-radius: 30px;
        background-color: grey;
        width: 30vw;
        height: 32vh;
        text-align: center;
    }
    
    article h3{
        margin-top: auto;
        margin-right: 2vw;
    }
    main img{
        border: 0px solid transparent;
        border-radius: 20px; 
        object-fit: cover;
        background-color: white;
        margin-top: 5px;
        width: 25vw;
        height: 26vh;
    }
    .valknappar{
        text-align: center;
        display: flex;
        flex-direction: row;
        gap: 1vw;
        height: 3vh;
        margin-top: 0.5Svh;
        border: 2px solid white;
        background-color: white;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .valknappar button{
        width: 2vw;
    }
    .valknappar h3{
        font-size: 1.2rem;
    }
    #legtillegg{
        width: 5vw;
        margin-left: 3vw;
    }
    #legtillappelsin{
        width: 5vw;
        margin-left: 3vw;
    }
    #legtillmajs{
        width: 5vw;
        margin-left: 3vw;
    }
    #legtillfläsk{
        width: 5vw;
        margin-left: 3vw;
    }
    #legtillsalad{
        width: 5vw;
        margin-left: 3vw;
    }
    #legtillbakmargarin{
        width: 5vw;
        margin-left: 3vw;
    }
    #facebook{
        margin-top: 0.5vh;
        width: 60px;
        height: 60px;
        border: 0px,solid, transparent;
        border-radius: 50%;
        margin-right: 5vw;
    }
    #instagram{
        margin-top: 0.5vh;
        width: 60px;
        height: 60px;
        border: 0px,solid, transparent;
        border-radius: 50%;
    }
    #twitter{
        margin-top: 0.5vh;
        width: 60px;
        height: 60px;
        border: 0px,solid, transparent;
        border-radius: 50%;
        margin-left: 5vw;
    }
    footer{
        text-align: center;
        background-color: rgb(197, 252, 255);
        width: 100vw;
        height: 12.5vh;
        
    }
    .copyright{
        border: 0px solid transparent;
        background-color: aqua;
        position: relative;
        bottom: 1.1vh;
        width: 100vw;
        height: 3vh;
        text-align: center;
    }
    h5{
        font-size: 1vw;
    }
    #dropdownkassa{
        display: none;
        position: fixed;
        top: 10.5vh;
        right: 3.6vw;
        background-color: rgb(0, 255, 255);
        border: 0px solid transparent;
        width: 15vw;
        border-radius: 10px;
        box-shadow: inset 3px 3px 5px rgba(255, 255, 255, 0.573),3px 3px 5px rgba(0, 0, 0, 0.573) ;
    }
    #dropdownkassa>*{
        text-align: left;
        margin-left: 1vw;
    }
    #dropdownkassa>button{
        margin-bottom: 2vh;
        margin-left: 5vw;
    }
}
