@media screen and (max-width:640px){
    ::-webkit-scrollbar{
        display: none;
    }
    body{
        margin: 0px;
        width: 100vw;
        height: 100vh;
        
    }
    header{
        text-align: center;
        display: flex;
        flex-direction: row;
        background-color: rgb(9, 223, 253);
        width: 100vw;
        height: 5vh;

    }
    nav{
        width: 69vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 2vw;
        column-gap: 7vw;
    }
    nav button{
        align-items:center ;
        width: 12vw;
    }
    main{

        display: flex;
        flex-direction: column;
        overflow: scroll;
        
        height: 82vh;
        background-color: aquamarine;
    }
    .valknappar{
        
        display: flex;
        flex-direction: column;

    }
    .valknappar>button{
        margin-top: 1vh;
        width: 20vw;
        height: 4vh;

    }
    main>article{
        margin-top: 5vh;
        font-size: small;
        display: flex;
        flex-direction: row;
        border: 6px solid black;
        border-radius: 10%;
        background-color: rgb(255, 255, 255);
    }
    main img{
        border:0px solid transparent;
        border-radius: 5vh;
        width: 70vw;
    }
    #facebook{
        margin-top: 0.5vh;
        width: 4vh;
        height: 4vh;
        border: 0px,solid, transparent;
        border-radius: 50%;
        
    }
    #instagram{
        margin-top: 0.5vh;
        width: 4vh;
        height: 4vh;
        border: 0px,solid, transparent;
        border-radius: 50%;
    }
    #twitter{
        margin-top: 0.5vh;
        width: 4vh;
        height: 4vh;
        border: 0px,solid, transparent;
        border-radius: 50%;
        
    }
    footer{
        position:sticky;
    }
    #dropdownkassa{
        display:none;
        position: fixed;
        top: 50.5vh;
        right: 3.6vw;
        background-color: rgb(0, 255, 255);
        border: 0px solid transparent;
        width: 50vw;
        border-radius: 10px;
        box-shadow: inset 3px 3px 5px rgba(255, 255, 255, 0.573),
        3px 3px 5px rgba(0, 0, 0, 0.573) ;
    }
    #dropdownkassa>*{
        text-align: left;
        margin-left: 1vw;
    }
}

@media screen and (max-width:1007px) and (min-width:641px){
    
}
@media screen and (min-width:1008px){
    
}
